.big_title{
    align-self: flex-start;
    font-weight: 900;
    margin-left: 3%;
}

.value{
    font-weight: 600;
    font-size: 1.8rem;
}

.units{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid gray;
    border-radius: 12px;
    width: 200px;
    height: 200px;
    margin: 3%;
}

.sales_summary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.transactions{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0%;
}

.item{
    width: 200px;
    height: 45px;
    border: 0.5px solid rgb(167, 166, 166);
    border-radius: 6px;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    text-align: center;
    color: black;
}

.head{
    background: black;
    color: white;
    border: 1px solid white;
}

.id{
    width: 50px;
}

#status_U{
    color: red;
}

.voer{ width: 333px;}
